<a href="/project/{{id}}">
  <section class="card">
    <p>project-details::::: Project By: {{user.username}} @ {{format_date createdAt}}</p>
    <p>{{name}}</p>
    <p>{{description}}</p>
  </section>
</a>