<!-- Loop over each object in the projects array -->

<div class="container col-xxl-8 px-4 py-5 bg-light mb-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-accent btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn hero btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>

{{#each projects as |project| }}
    <ol class="list-group m-1 ">
        <li class="list-group-item d-flex justify-content-between align-items-start bg-light">
          <div class="ms-2 me-auto ">
            <div class="h2 accent"><a href="/project/{{project.id}}">{{project.name}}</a></div>
            {{project.description}}
          </div>
          <span class="badge btn-accent rounded-pill"><span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!</span>
          <span class="badge btn-accent rounded-pill">Created by {{project.user.name}} on {{format_date project.date_created}}</span>
        </li>
        </ol>
{{/each}}
