


<div class="text-center text-dark">
  <h2 class="display-5">{{project.name}}</h2>
  <p>{{project.description}}</p>
{{!-- Create and Delete Bid Buttons --}}
  <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  {{!-- <button type="button" onclick=window.location.href='/addBid/' class="btn btn-accent m-2 text-light">Create Bid</button>   --}}

  <button type="button" onclick=window.location.href="/addBid/{{project.id}}" class="btn btn-accent m-2 text-light" id="bidButton">Create Bid</button><br>

    {{!-- ---------- --}}
    <section>
      {{#each project.bids as |bid|}}
      {{> bid-details}}
      {{/each}}
    </section>

<canvas id="myChart" width="1600" height="900"></canvas>
  
      <button type="button" data-id="{{project.id}}" class="btn btn-danger m-2 deleteProject text-light">Delete Project Permanently</button>
  
</div>

<script>
var bidAxis = [];
var nameAxis = [];

{{#each project.bids as |bid|}}
var nameValue = {{bid.id}};
nameAxis.push(nameValue);
bidAxis.push({{bid.amount}})
{{/each}}

Chart.defaults.global.defaultFontColor = "#0e0b16";
var ctx = document.getElementById("myChart");
var myChart = new Chart (ctx, {
type: 'bar',
data: {
  labels: nameAxis,
  datasets: [{
    label: 'Bid Comparisons',
    data: bidAxis,
                backgroundColor: [
                '#a239ca',
                '#a239ca',
                '#a239ca'
            ],
    }]
  }
})
  
</script>


<script src="/js/profile.js"></script>
<script src="/js/delete.js"></script>
